p,
h5 {
  margin: 0;
}

.text-green {
  color: #28a745;
}

.text-red {
  color: #dc3545;
}

.text-yellow {
  color: #ffe234;
}

meter::-webkit-meter-optimum-value {
  background: green;
}

meter::-webkit-meter-suboptimum-value {
  background: red;
}

input {
  outline: none;
  border: none;
}

.unWatch:hover {
  color: black;
}

.fs-7 {
  font-size: 12px;
}

#header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
